{% load staticfiles %}
<html>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <head>
        <title>Non AUG</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body background="/static/bgimg.jpg">
    <div class="page-header">
        <h1 ><font face="georgia">Laboratory of Computational Biology</font></h1>
        <h2><font face="georgia">Indian Institute of Technology, Kanpur</font></h2>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>

<br>
<br>
<hr>
<footer>
  <p style="text-align:center"> <font face="georgia" font size="2" color="green"> Laboratory of Computational Biology
  <br>Department of Biological Sciences and Bioengineering
  <br>Indian Institute of Technology Kanpur
  <br> INDIA </font></p>
</footer>    

</body>
</html>