{% extends 'UGP/base.html' %}

{% block content %}

	<h1 align="center"> <u> <font face="georgia">List of Bacteria</font> </u></h1>
	<br>
	<table style="width:100% height: 100% margin: 0px">
	<tr>
		<td style="width:20%" align="center"> A </td>
		<td style="width:20%" align="center"> B </td>
		<td style="width:20%" align="center"> C </td>
		<td style="width:20%" align="center"> D </td>
		<td style="width:20%" align="center"> E </td>
	</tr>

	<tr>
		<td align="center">
		{% for key,value in Adict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Bdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Cdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Ddict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Edict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
	</tr>

	<tr>
		<td align="center"> <br>F </td>
		<td align="center"> <br>G </td>
		<td align="center"> <br>H </td>
		<td align="center"> <br>I </td>
		<td align="center"> <br>J </td>
	</tr>

	<tr>
		<td align="center">
		{% for key,value in Fdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Gdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Hdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Idict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Jdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
	</tr>	

	<tr>
		<td align="center"> <br>K </td>
		<td align="center"> <br>L </td>
		<td align="center"> <br>M </td>
		<td align="center"> <br>N </td>
		<td align="center"> <br>O </td>
	</tr>

	<tr>
		<td align="center">
		{% for key,value in Kdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Ldict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Mdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Ndict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Odict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
	</tr>

	<tr>
		<td align="center"> <br>P </td>
		<td align="center"> <br>Q </td>
		<td align="center"> <br>R </td>
		<td align="center"> <br>S </td>
		<td align="center"> <br>T </td>
	</tr>

	<tr>
		<td align="center">
		{% for key,value in Pdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Qdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Rdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Sdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Tdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
	</tr>

	<tr>
		<td align="center"> <br>U </td>
		<td align="center"> <br>V </td>
		<td align="center"> <br>W </td>
		<td align="center"> <br>X </td>
		<td align="center"> <br>Y </td>
	</tr>

	<tr>
		<td align="center">
		{% for key,value in Udict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Vdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Wdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Xdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
		<td align="center">
		{% for key,value in Ydict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
		</td>
	</tr>

	<tr>
		<td align="center"> <br>Z </td>
	</tr>
	<td align="center">
		{% for key,value in Zdict.items %}
			<a href="/organism_bacteria/{{value}}/"> {{ key }} </a>
			<br>
		{% endfor %}
	</td>

	</table>

<br>
<br>
<a href="/"><font face="georgia"> Back to Home </font></a> 	

{% endblock %}