{% extends 'UGP/base.html' %}

{% block content %}
   <img src="/static/title1.jpg" alt="nonAUG Database" style="width:1000px;height:90px;" align="middle">

    <table style="width:100% height: 100%">
    	<tr>
    		<td style="width:50%"> 
    			<table>
    				<tr>
    					<td><a href="/eukaryotes"><font face="georgia"> Eukaryotes</font> </a></td>
    				</tr>

    				<tr>
    					<td> <a href="/bacteria"> <font face="georgia">Bacteria</font> </a></td>
    				</tr>
    			</table>

    		</td>

    		<td>
    			<h3><font face="georgia"> <u>What is non AUG? </u></font></h3>
    			<p><font face="georgia">Translation initiation using alternative codons is one of the important mechanisms by which single mRNA gives rise to multiple proteins. Several examples have been found in which mRNAs naturally support initiation from non-canonical codons. <b>nonAUG database</b> contains mRNA sequences with non-canonical start codons collected from RefSeq database. This database is the <b>second version</b> of the previously existing nonAUG database.</font> </p>
    			<br>
    			
    		</td>

    	</tr>

    </table>
    
{% endblock %}