{% extends 'UGP/base.html' %}

{% block content %}

    <table style="width:100% height: 100%">
    	<tr>
    		<td style="width:50%"> 
    			<table>
    				<tr>
    					<td><a href="/browse"><font face="georgia"> Browse All Entries</font> </a></td>
    				</tr>

    				<tr>
    					<td> <a href="/organism"> <font face="georgia">Search by Organism Name</font> </a></td>
    				</tr>
    				<br \>
    				<tr>
    					<td><a href="/proc_acc"> <font face="georgia">Search by Protein Accession ID </font></a></td>
    				</tr>
    			
    				<!-- <tr>
    					<td><a href="/geneID"><font face="georgia"> Search by Gene ID</font> </a></td>
    				</tr> -->

				<tr>
    					<td><a href="/codon"><font face="georgia"> Search by Start Codon</font> </a></td>
    				</tr>	

    				<tr>
    					<td><a href="/stats"><font face="georgia"> Statistics</font> </a></td>
    				</tr>

    				<!-- <tr>
    					<td><a href="/help"><font face="georgia"> Help</font> </a></td>
    				</tr> -->
    			</table>

    		</td>

    		<td>
    			<h3><font face="georgia"><p style="text-align:center"> <u>Eukaryotes </u> </p></font></h3>
    			<p><img src="/static/frog.jpg" alt="Frog" style="width:400px;height:350px;" align="right"> </p>
    			<br>
    			
    		</td>

    	</tr>

    </table>

<br>
<br>
<a href="/"><font face="georgia"> Back to Home </font></a>    
    
{% endblock %}
