{% extends 'UGP/base.html' %}

{% block content %}

<table border="1" style="width:100%">
	<tr>
		<th><font face="georgia"> Refseq Protein ID</font> </th>
		<th><font face="georgia"> Protein Description</font> </th>
	</tr>
	{% for key, value in renderdict.items %}
	<tr>
		<td> <a href="/proc_acc/{{ key }}"> <font face="georgia">{{ key }} </font></a> </td>
		<td> <font face="georgia">{{ value }}</font> </td>
	</tr>
	{% endfor %}
</table>
<br>
<br>
<a href="/"><font face="georgia"> Back to Home </font></a>

{% endblock %}