{% extends 'UGP/base.html' %}
{% load static from staticfiles %}

{% block content %}

<h4><font color="black" face="georgia"> Distribution of Organisms in Database in terms of presence of non AUG codons</font> </h4>
<img src="/static/org_dist.jpg" alt="Organism Distribution" style="width:600px;height:400px;">
<br>
<br>
<br>
<br>
<h4> <font color="black" face="georgia">Codon-wise Classification</font> </h4>
<img src="/static/stats1.jpg" alt="Classification" style="width:600px;height:400px;">
<br>
<br>
<br>
<br>
<h4><font color="black" face="georgia"> Protein interaction network of non-AUG genes in Humans</font> </h4>
<img src="/static/human_network.png" alt="Protein interaction network of non-AUG genes in Humans" style="width:600px;height:400px;">
<br>
<br>
<br>
<br>
<h4><font color="black" face="georgia">Protein interaction network of non-AUG genes in Mice</font> </h4>
<img src="/static/mouse_network.png" alt="Protein interaction network of non-AUG genes in Mice" style="width:600px;height:400px;">
<br>
<br>
<a href="/"><font face="georgia"> Back to Home </font></a>

{% endblock %}