{% extends 'UGP/base.html' %}
{% load static from staticfiles %}

{% block content %}

<h4><font color="black" face="georgia"> Non AUG Protein Percentage for 82 Archaea Organisms</font> </h4>
<img src="/static/archaea1.png" alt="Non AUG Protein Percentage for 82 Archaea Organisms" style="width:600px;height:400px;">
<br>
<br>
<br>
<br>
<h4> <font color="black" face="georgia">Non AUG Start Codon Distribution</font> </h4>
<img src="/static/archaea2.png" alt="Non AUG Start Codon Distribution" style="width:600px;height:400px;">
<br>
<br>
<br>
<br>
<h4> <font color="black" face="georgia">Non AUG Protein Percentage for Top 10 Archaea</font> </h4>
<img src="/static/archaea3.png" alt="Non AUG Protein Percentage for Top 10 Archaea" style="width:600px;height:400px;">
<br>
<br>
<br>
<br>

<a href="/"><font face="georgia"> Back to Home </font></a>
{% endblock %}
